
<li>
    {{burger_name}}

    <button class="devoured" data-id="{{id}}" data-devourburger="{{devoured}}">
      {{#if devoured}}  NOT NOW! {{else}} DEVOUR ME!! {{/if}}
    </button>

    {{!-- <button class="delete-burger" data-id="{{this.id}}">NO THANKS!</button> --}}
</li>